:root {
    --sd-color-card-background: white;
}
.bluetext{
    color: #2424ff;
}
.yellowtext{
    color: yellow;
}
.greentext{
    color: green;
}
.orangetext{
    color: orange;
}
.redtext{
    color: red;
}
.lilactext{
    color: darkviolet;
}
.browntext{
    color: brown;
}
.pinktext{
    color: pink;
}