name: Codespell

on:
  pull_request:
    branches: 
     - master
jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: spell
      uses: codespell-project/actions-codespell@v2
      with:
        path: source
        exclude_file: ${{ github.workspace }}/source/conf.py
        skip:  '*.svg,*.py'

