# SPDX-FileCopyrightText: 2018-Present Qelectrotech Team <license@qelectrotech.org>
#
# SPDX-License-Identifier: GPL-2.0-only

name: REUSE


on:
  push:
    branches:
      - master
      - Int-Circuit-patch-1
    paths-ignore:
      - 'LICENSES/*'
    
jobs:
  Licensing:
    runs-on: ubuntu-latest
    permissions:
      contents: write


    steps:
    - uses: actions/checkout@v3
    - name: REUSE SPDX SBOM
      
      uses: fsfe/reuse-action@v6
      with:
        args: annotate --copyright="Qelectrotech Team <license@qelectrotech.org>" --license="GPL-2.0-only" --fallback-dot-license --recursive --year="2018-Present"  /**/*.rst
        working-directory: ./source
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v6  
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        token: ${{ secrets.MR_TOKEN }}
        commit-message: License files
        committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        title: Licensing files
        body: |
         - Correctly licensing files following commit ${{ github.sha }}.
         - Auto-generated by [create-pull-request][1]

         [1]: https://github.com/peter-evans/create-pull-request
        branch: update-reuse
        labels: | 
          reuse
          cicd
        delete-branch: true
        add-paths: source/**/*.rst

