name: REUSE


on:
  push:
    branches:
      - master
    paths-ignore:
      - 'LICENSES/*'
    
jobs:
  Licensing:
    runs-on: ubuntu-latest
    permissions:
      contents: write


    steps:
    - uses: actions/checkout@v3
    - name: Setup venv and activate it
      run: python3 -m venv venv/ && source venv/bin/activate
      shell: bash
    - name: Install REUSE
      run: pip install reuse
      shell: bash
    - name: Make source files REUSE-compliant
      run: reuse download GPL-2.0-only && reuse annotate --copyright="Qelectrotech Team <license@qelectrotech.org>" --license="GPL-2.0-only" source/developer/* source/users/* source/index.rst source/doc_changelog.rst --skip-unrecognised --recursive
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        token: ${{ secrets.MR_TOKEN }}
        commit-message: License files
        committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        title: Licensing files
        body: |
         - Correctly licensing files following commit ${{ github.sha }}.
         - Auto-generated by [create-pull-request][1]

         [1]: https://github.com/peter-evans/create-pull-request
        branch: update-reuse
        labels: | 
          reuse
          cicd
        delete-branch: true
        add-paths: source/**/*.rst

